DominoJuego/Connected Services/Proxy/DominoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DominoContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DominoContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioPuntajes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioPuntajes" nillable="true" type="tns:UsuarioPuntajes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioPuntajes" nillable="true" type="tns:ArrayOfUsuarioPuntajes" />
  <xs:complexType name="UsuarioPuntajes">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="posicion" type="xs:int" />
      <xs:element minOccurs="0" name="puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioPuntajes" nillable="true" type="tns:UsuarioPuntajes" />
</xs:schema>